---
layout: default
---

<div class="home">
  <div class="content text-frame">
    <p>
      Imagine a company that takes the tedious task of processing documents and data and turns it into a streamlined, automated process.<br />
      Enter Coherent Automation!
    </p>
    <p>
      We are a data science and software engineering firm specializing in document and data processing automation. We use our expertise to build custom solutions that can handle migrating databases, building ETL pipelines, and extracting key information from complex datasets - and even digitize paper documents to be categorized and indexed.  This allows businesses to save time, reduce errors, and gain valuable insights from their data through increased availability and custom vizualizations.
    </p>
    Wouldn't it be amazing to have a company like this handle all your data processing needs? 🤔
  </div>

  <hr />
  <h1 class="page-heading">Blog posts</h1>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
